<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Form</h1>

<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Logout</button>
</form>
<form th:action="@{/admin/about}" method="get">
    <button class="btn btn-md btn-primary btn-block" name="registration"
            type="Submit">About</button>
</form>
<form th:action="@{/user/home}" method="get">
    <button class="btn btn-md btn-basic btn-block" name="registration"
            type="Submit">Home</button>
</form>

<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span th:utext="${formName}"></span>
        </div>
<form action="#" th:action="@{/user/book/recs}" th:object="${bookRec}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


    </div>
</div>
</body>
</html>